/* Add CSS styling here */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');/*Roboto Font*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,400&family=Roboto&display=swap');/*Raleway Font*/
*{
    font-size: 62.5%;
    border:1px solid black; 
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:'Raleway', sans-serif;

}
body{
    display:flex;
    flex-flow:column nowrap;
    width:100%;
    margin:10px;
    font-size:100px;
    background-color: #01adac;

    
}
section{
    display: flex;
    flex-direction: row;
    width:100%;   
}
header{
    flex-flow:column nowrap;
}
.headerTest{
    display:flex;
    width:100%;
    text-decoration:none;
    color:#f8a41b;
    padding-left:1%;
    
}
h3{
    color:#f8a41b;
}
.navButtons{
    display: flex;
    flex-flow:row nowrap;
    font-size:.5em;
    
}
.navButtons a{
    display:inline-block;
    text-decoration:none;
    text-align: center;
    background-color:#a2208e;
    color:#f8a41b;
    border-radius: 10%;
    padding:.5em;

}
.boxInfo{
        display:flex;
        flex-flow:column nowrap;
        width:100%;
        justify-content:space-around;
        align-items:flex-start;
        
}
.gallery{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:100%;
    
}
.gallery div{
    
    width:20%;
    margin:2%


}
.gallery img{
    width: 100%;
}
.project{
    display:flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items: flex-start;
    background:red;
    width: 100%;
    
    
}
.project img{
    width:25%;
}
.project div{
    flex-flow:row wrap;
    width:25%;
    margin:15px;

}
footer{
    display:flex;
    flex-flow:column wrap;
    font-size:.3em;
    width:100%;
    background:blue;
    justify-content: center;
    align-items: center;   
}
.footerTest a{
    text-decoration: none;
    padding:.5em;
    border-radius: 10%;
    background-color: purple;
    color:white;
}
.footerTest .navButtons{
    display:flex;
    flex-flow:row wrap;   
}
.footerTest .navButtons a{
    display:flex;
    flex-flow:row wrap;   
}